@model IAMS.Model.AddressLabels
<div class="form-floating mb-3">
@*     <input class="form-control" asp-for="@Model!.AddressLine1">
    <label asp-for="@Model.AddressLine1">@Model.AddressLine1</label>
    <span class="text-danger field-validation-valid" asp-validation-for="AddressLine1"></span> *@
</div>